<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>
  {% include navbar.html %}

  <div class="container-full" style="padding-top: 26px;">
    <div class="row">
      <div class="col-md-2">
        {% include sidebar.html %}
      </div>
      <div class="col-md-10">
        {{ content }}
      </div>
    </div>


  </div>
  <footer class="footer">
      <div class="container-full">
        <span class="text-muted">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} 2019</span>
      </div>
    </footer>
</body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- <script src="js/dashboard.js"></script></body> -->
    <script type="text/javascript">
      $(document).ready(function() {
        $("#mySelect, #mySelectClimate").change(function() {
          var value = $("#mySelect").val();
          var climate_val = $("#mySelectClimate").val();
          if (climate_val == "current") {
            $("#map_iframe").attr('src', "map_iframes/" + value + ".html");
            $(".species_description").hide();
            $("#species_description_" + value).show();
          } else if (climate_val == "future") {
            $("#map_iframe").attr('src', "map_iframes/future_climate/" + value + ".html");
            $(".species_description").hide();
            $("#species_description_" + value).show();
          }


        })
      });
    </script>

</html>
